<div class="button-container">
    <a href="/" class="button">Home</a>
    <a href="/profile" class="button">Profile</a>
    <a href="/orders" class="button">Orders</a>
    <a href="/register" class="button">Register</a>
    <a href="/comments" class="button">Comments</a>
    
</div>